{{outlet}}
<div class='row'>
<div class='col-lg-4 offset-lg-4'>
{{input value=loginName placeholder='Login' class='form-control'}}<br>
{{input value=password placeholder='Password' type='password' class='form-control'}}<br>
<button {{action 'authenticate'}} class="btn btn-success" id="login-btn">Login</button>
</div>
</div>
